@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .app {
  
} */

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.menu {
    border-bottom: 1px solid #610d0d;
}

.menu-content {
    background-color: #D41C1C;
    height: 150px;
    width: 100%;
    position: fixed;
    display: inline;
    z-index: 10;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-top: 0;
  padding-bottom: 0;
  display: inline;
  font-size: 38px;
}

li {
  padding-left: 20px;
  /* position:; */
}

li:nth-child(3) {
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.imagem-link img {
  display: inline;
  width: 150px;
  height: 150px;
  padding-left: 30px;

}

.pesquisa {
  display: flex;
  position: relative;
  margin-left: 20%;
  margin-top: 20%; 
}

.escrever-pesquisa {
  width: 800px;
}

.nav-bar {
  display: flex;
  background-color: #D41C1C;
  padding-top: -10px;
}